USE [master]
GO
/****** Object:  Database [LEGENDOFMIR]    Script Date: 2021/1/25 12:11:02 ******/
CREATE DATABASE [LEGENDOFMIR]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LEGENDOFMIR_DATA', FILENAME = N'C:\Users\skcr\LEGENDOFMIR_DATA.MDF' , SIZE = 10240KB , MAXSIZE = 51200KB , FILEGROWTH = 10240KB )
 LOG ON 
( NAME = N'LEGENDOFMIR_LOG', FILENAME = N'C:\Users\skcr\LEGENDOFMIR_LOG.LDF' , SIZE = 10240KB , MAXSIZE = 25600KB , FILEGROWTH = 5120KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LEGENDOFMIR].[dbo].[sp_fulltext_database] @action = 'disable'
end
GO
USE [LEGENDOFMIR]
GO
USE [LEGENDOFMIR]
GO
/****** Object:  Table [dbo].[TBL_ACCOUNT]    Script Date: 2021/1/25 12:11:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_ACCOUNT](
	[FLD_LOGINID] [char](10) NOT NULL,
	[FLD_PASSWORD] [char](10) NOT NULL,
	[FLD_USERNAME] [char](20) NOT NULL,
	[FLD_CERTIFICATION] [int] NULL,
 CONSTRAINT [PK_ACCOUNT] PRIMARY KEY CLUSTERED 
(
	[FLD_LOGINID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_ACCOUNTADD]    Script Date: 2021/1/25 12:11:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_ACCOUNTADD](
	[FLD_LOGINID] [char](10) NOT NULL,
	[FLD_SSNO] [char](14) NOT NULL,
	[FLD_BIRTHDAY] [char](10) NOT NULL,
	[FLD_PHONE] [char](14) NOT NULL,
	[FLD_MOBILEPHONE] [char](13) NOT NULL,
	[FLD_ADDRESS1] [varchar](20) NULL,
	[FLD_ADDRESS2] [varchar](20) NULL,
	[FLD_EMAIL] [varchar](40) NULL,
	[FLD_QUIZ1] [varchar](20) NULL,
	[FLD_ANSWER1] [varchar](20) NULL,
	[FLD_QUIZ2] [varchar](20) NULL,
	[FLD_ANSWER2] [varchar](20) NULL,
 CONSTRAINT [PK_ACCOUNTADD] PRIMARY KEY CLUSTERED 
(
	[FLD_LOGINID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_CHARACTER]    Script Date: 2021/1/25 12:11:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_CHARACTER](
	[FLD_LOGINID] [char](10) NOT NULL,
	[FLD_CHARNAME] [char](20) NOT NULL,
	[FLD_JOB] [char](1) NOT NULL,
	[FLD_GENDER] [char](1) NOT NULL,
	[FLD_LEVEL] [tinyint] NOT NULL,
	[FLD_DIRECTION] [int] NOT NULL,
	[FLD_CX] [int] NOT NULL,
	[FLD_CY] [int] NOT NULL,
	[FLD_MAPNAME] [char](16) NOT NULL,
	[FLD_GOLD] [int] NOT NULL,
	[FLD_DRESS_ID] [char](11) NOT NULL,
	[FLD_WEAPON_ID] [char](11) NOT NULL,
	[FLD_LEFTHAND_ID] [char](11) NOT NULL,
	[FLD_RIGHTHAND_ID] [char](11) NOT NULL,
	[FLD_HELMET_ID] [char](11) NOT NULL,
	[FLD_NECKLACE_ID] [char](11) NOT NULL,
	[FLD_ARMRINGL_ID] [char](11) NOT NULL,
	[FLD_ARMRINGR_ID] [char](11) NOT NULL,
	[FLD_RINGL_ID] [char](11) NOT NULL,
	[FLD_RINGR_ID] [char](11) NOT NULL,
 CONSTRAINT [PK_CHARACTER] PRIMARY KEY CLUSTERED 
(
	[FLD_LOGINID] ASC,
	[FLD_CHARNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_CHARACTER_ITEM]    Script Date: 2021/1/25 12:11:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_CHARACTER_ITEM](
	[FLD_LOGINID] [char](10) NOT NULL,
	[FLD_CHARNAME] [char](20) NOT NULL,
	[FLD_ITEM1] [char](12) NULL,
	[FLD_ITEM2] [char](12) NULL,
	[FLD_ITEM3] [char](12) NULL,
	[FLD_ITEM4] [char](12) NULL,
	[FLD_ITEM5] [char](12) NULL,
	[FLD_ITEM6] [char](12) NULL,
	[FLD_ITEM7] [char](12) NULL,
	[FLD_ITEM8] [char](12) NULL,
	[FLD_ITEM9] [char](12) NULL,
	[FLD_ITEM10] [char](12) NULL,
	[FLD_ITEM11] [char](12) NULL,
	[FLD_ITEM12] [char](12) NULL,
	[FLD_ITEM13] [char](12) NULL,
	[FLD_ITEM14] [char](12) NULL,
	[FLD_ITEM15] [char](12) NULL,
	[FLD_ITEM16] [char](12) NULL,
	[FLD_ITEM17] [char](12) NULL,
	[FLD_ITEM18] [char](12) NULL,
	[FLD_ITEM19] [char](12) NULL,
	[FLD_ITEM20] [char](12) NULL,
	[FLD_ITEM21] [char](12) NULL,
	[FLD_ITEM22] [char](12) NULL,
	[FLD_ITEM23] [char](12) NULL,
	[FLD_ITEM24] [char](12) NULL,
	[FLD_ITEM25] [char](12) NULL,
	[FLD_ITEM26] [char](12) NULL,
	[FLD_ITEM27] [char](12) NULL,
	[FLD_ITEM28] [char](12) NULL,
	[FLD_ITEM29] [char](12) NULL,
	[FLD_ITEM30] [char](12) NULL,
	[FLD_ITEM31] [char](12) NULL,
	[FLD_ITEM32] [char](12) NULL,
	[FLD_ITEM33] [char](12) NULL,
	[FLD_ITEM34] [char](12) NULL,
	[FLD_ITEM35] [char](12) NULL,
	[FLD_ITEM36] [char](12) NULL,
	[FLD_ITEM37] [char](12) NULL,
	[FLD_ITEM38] [char](12) NULL,
	[FLD_ITEM39] [char](12) NULL,
	[FLD_ITEM40] [char](12) NULL,
	[FLD_ITEM41] [char](12) NULL,
	[FLD_ITEM42] [char](12) NULL,
	[FLD_ITEM43] [char](12) NULL,
	[FLD_ITEM44] [char](12) NULL,
	[FLD_ITEM45] [char](12) NULL,
	[FLD_ITEM46] [char](12) NULL,
	[FLD_ITEM47] [char](12) NULL,
	[FLD_ITEM48] [char](12) NULL,
	[FLD_ITEM49] [char](12) NULL,
	[FLD_ITEM50] [char](12) NULL,
	[FLD_ITEM51] [char](12) NULL,
	[FLD_ITEM52] [char](12) NULL,
	[FLD_ITEM53] [char](12) NULL,
	[FLD_ITEM54] [char](12) NULL,
	[FLD_ITEM55] [char](12) NULL,
	[FLD_ITEM56] [char](12) NULL,
	[FLD_ITEM57] [char](12) NULL,
	[FLD_ITEM58] [char](12) NULL,
	[FLD_ITEM59] [char](12) NULL,
	[FLD_ITEM60] [char](12) NULL,
	[FLD_ITEM61] [char](12) NULL,
	[FLD_ITEM62] [char](12) NULL,
	[FLD_ITEM63] [char](12) NULL,
	[FLD_ITEM64] [char](12) NULL,
	[FLD_ITEM65] [char](12) NULL,
	[FLD_ITEM66] [char](12) NULL,
 CONSTRAINT [PK_CHARACTER_ITEM] PRIMARY KEY CLUSTERED 
(
	[FLD_LOGINID] ASC,
	[FLD_CHARNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_CHARACTER_MAGIC]    Script Date: 2021/1/25 12:11:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_CHARACTER_MAGIC](
	[FLD_LOGINID] [char](10) NOT NULL,
	[FLD_CHARNAME] [char](20) NOT NULL,
	[FLD_LEVEL0] [tinyint] NULL,
	[FLD_USEKEY0] [tinyint] NULL,
	[FLD_CURRTRAIN0] [int] NULL,
	[FLD_LEVEL1] [tinyint] NULL,
	[FLD_USEKEY1] [tinyint] NULL,
	[FLD_CURRTRAIN1] [int] NULL,
	[FLD_LEVEL2] [tinyint] NULL,
	[FLD_USEKEY2] [tinyint] NULL,
	[FLD_CURRTRAIN2] [int] NULL,
	[FLD_LEVEL3] [tinyint] NULL,
	[FLD_USEKEY3] [tinyint] NULL,
	[FLD_CURRTRAIN3] [int] NULL,
	[FLD_LEVEL4] [tinyint] NULL,
	[FLD_USEKEY4] [tinyint] NULL,
	[FLD_CURRTRAIN4] [int] NULL,
	[FLD_LEVEL5] [tinyint] NULL,
	[FLD_USEKEY5] [tinyint] NULL,
	[FLD_CURRTRAIN5] [int] NULL,
	[FLD_LEVEL6] [tinyint] NULL,
	[FLD_USEKEY6] [tinyint] NULL,
	[FLD_CURRTRAIN6] [int] NULL,
	[FLD_LEVEL7] [tinyint] NULL,
	[FLD_USEKEY7] [tinyint] NULL,
	[FLD_CURRTRAIN7] [int] NULL,
	[FLD_LEVEL8] [tinyint] NULL,
	[FLD_USEKEY8] [tinyint] NULL,
	[FLD_CURRTRAIN8] [int] NULL,
	[FLD_LEVEL9] [tinyint] NULL,
	[FLD_USEKEY9] [tinyint] NULL,
	[FLD_CURRTRAIN9] [int] NULL,
	[FLD_LEVEL10] [tinyint] NULL,
	[FLD_USEKEY10] [tinyint] NULL,
	[FLD_CURRTRAIN10] [int] NULL,
	[FLD_LEVEL11] [tinyint] NULL,
	[FLD_USEKEY11] [tinyint] NULL,
	[FLD_CURRTRAIN11] [int] NULL,
	[FLD_LEVEL12] [tinyint] NULL,
	[FLD_USEKEY12] [tinyint] NULL,
	[FLD_CURRTRAIN12] [int] NULL,
	[FLD_LEVEL13] [tinyint] NULL,
	[FLD_USEKEY13] [tinyint] NULL,
	[FLD_CURRTRAIN13] [int] NULL,
	[FLD_LEVEL14] [tinyint] NULL,
	[FLD_USEKEY14] [tinyint] NULL,
	[FLD_CURRTRAIN14] [int] NULL,
	[FLD_LEVEL15] [tinyint] NULL,
	[FLD_USEKEY15] [tinyint] NULL,
	[FLD_CURRTRAIN15] [int] NULL,
	[FLD_LEVEL16] [tinyint] NULL,
	[FLD_USEKEY16] [tinyint] NULL,
	[FLD_CURRTRAIN16] [int] NULL,
	[FLD_LEVEL17] [tinyint] NULL,
	[FLD_USEKEY17] [tinyint] NULL,
	[FLD_CURRTRAIN17] [int] NULL,
	[FLD_LEVEL18] [tinyint] NULL,
	[FLD_USEKEY18] [tinyint] NULL,
	[FLD_CURRTRAIN18] [int] NULL,
	[FLD_LEVEL19] [tinyint] NULL,
	[FLD_USEKEY19] [tinyint] NULL,
	[FLD_CURRTRAIN19] [int] NULL,
	[FLD_LEVEL20] [tinyint] NULL,
	[FLD_USEKEY20] [tinyint] NULL,
	[FLD_CURRTRAIN20] [int] NULL,
	[FLD_LEVEL21] [tinyint] NULL,
	[FLD_USEKEY21] [tinyint] NULL,
	[FLD_CURRTRAIN21] [int] NULL,
	[FLD_LEVEL22] [tinyint] NULL,
	[FLD_USEKEY22] [tinyint] NULL,
	[FLD_CURRTRAIN22] [int] NULL,
	[FLD_LEVEL23] [tinyint] NULL,
	[FLD_USEKEY23] [tinyint] NULL,
	[FLD_CURRTRAIN23] [int] NULL,
	[FLD_LEVEL24] [tinyint] NULL,
	[FLD_USEKEY24] [tinyint] NULL,
	[FLD_CURRTRAIN24] [int] NULL,
	[FLD_LEVEL25] [tinyint] NULL,
	[FLD_USEKEY25] [tinyint] NULL,
	[FLD_CURRTRAIN25] [int] NULL,
	[FLD_LEVEL26] [tinyint] NULL,
	[FLD_USEKEY26] [tinyint] NULL,
	[FLD_CURRTRAIN26] [int] NULL,
	[FLD_LEVEL27] [tinyint] NULL,
	[FLD_USEKEY27] [tinyint] NULL,
	[FLD_CURRTRAIN27] [int] NULL,
	[FLD_LEVEL28] [tinyint] NULL,
	[FLD_USEKEY28] [tinyint] NULL,
	[FLD_CURRTRAIN28] [int] NULL,
	[FLD_LEVEL29] [tinyint] NULL,
	[FLD_USEKEY29] [tinyint] NULL,
	[FLD_CURRTRAIN29] [int] NULL,
	[FLD_LEVEL30] [tinyint] NULL,
	[FLD_USEKEY30] [tinyint] NULL,
	[FLD_CURRTRAIN30] [int] NULL,
 CONSTRAINT [PK_CHARACTER_MAGIC] PRIMARY KEY CLUSTERED 
(
	[FLD_LOGINID] ASC,
	[FLD_CHARNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_GUARD]    Script Date: 2021/1/25 12:11:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_GUARD](
	[FLD_INDEX] [int] NOT NULL,
	[FLD_ID] [char](14) NOT NULL,
	[FLD_MAPNAME] [char](14) NOT NULL,
	[FLD_POSX] [int] NOT NULL,
	[FLD_POSY] [int] NOT NULL,
	[FLD_DIRECTION] [smallint] NOT NULL,
	[FLD_DESCRIPTION] [varchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_HORSE]    Script Date: 2021/1/25 12:11:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_HORSE](
	[FLD_CHARNAME] [char](20) NOT NULL,
	[FLD_HORSEINDEX] [char](11) NOT NULL,
	[FLD_HORSETYPE] [tinyint] NOT NULL,
	[FLD_LEVEL] [tinyint] NULL,
	[FLD_PRICE] [int] NULL,
	[FLD_HP] [tinyint] NULL,
 CONSTRAINT [PK_HORSE] PRIMARY KEY CLUSTERED 
(
	[FLD_CHARNAME] ASC,
	[FLD_HORSEINDEX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_MAGIC]    Script Date: 2021/1/25 12:11:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_MAGIC](
	[FLD_INDEX] [int] NOT NULL,
	[FLD_NAME] [char](12) NOT NULL,
	[FLD_EFFECTTYPE] [smallint] NULL,
	[FLD_EFFECT] [smallint] NULL,
	[FLD_SPELL] [smallint] NULL,
	[FLD_POWER] [smallint] NULL,
	[FLD_MAXPOWER] [smallint] NULL,
	[FLD_DEFSPELL] [smallint] NULL,
	[FLD_DEFPOWER] [smallint] NULL,
	[FLD_DEFMAXPOWER] [smallint] NULL,
	[FLD_JOB] [smallint] NULL,
	[FLD_NEEDL1] [smallint] NULL,
	[FLD_L1TRAIN] [int] NULL,
	[FLD_NEEDL2] [smallint] NULL,
	[FLD_L2TRAIN] [int] NULL,
	[FLD_NEEDL3] [smallint] NULL,
	[FLD_L3TRAIN] [int] NULL,
	[FLD_DELAY] [smallint] NULL,
	[FLD_DESC] [char](8) NULL,
	[FLD_DESCRIPTION] [varchar](100) NULL,
 CONSTRAINT [PK_MAGIC] PRIMARY KEY CLUSTERED 
(
	[FLD_INDEX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_MAPINFO]    Script Date: 2021/1/25 12:11:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_MAPINFO](
	[FLD_MAPFILENAME] [char](14) NOT NULL,
	[FLD_MAPNAME] [varchar](40) NOT NULL,
	[FLD_SERVERINDEX] [smallint] NOT NULL,
	[FLD_ATTRIBUTE] [int] NULL,
	[FLD_RECALLMAPFNAME] [char](14) NULL,
	[FLD_DESCRIPTION] [varchar](100) NULL,
 CONSTRAINT [PK_MAPINFO] PRIMARY KEY CLUSTERED 
(
	[FLD_MAPFILENAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_MERCHANT]    Script Date: 2021/1/25 12:11:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_MERCHANT](
	[FLD_ID] [int] IDENTITY(1,1) NOT NULL,
	[FLD_MAPNAME] [char](14) NOT NULL,
	[FLD_POSX] [int] NOT NULL,
	[FLD_POSY] [int] NOT NULL,
	[FLD_NPCNAME] [varchar](40) NOT NULL,
	[FLD_FACE] [int] NOT NULL,
	[FLD_BODY] [int] NOT NULL,
	[FLD_GENDER] [smallint] NOT NULL,
	[FLD_DESCRIPTION] [varchar](100) NULL,
 CONSTRAINT [PK_MERCHANT] PRIMARY KEY CLUSTERED 
(
	[FLD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_MONGEN]    Script Date: 2021/1/25 12:11:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_MONGEN](
	[FLD_INDEX] [int] NOT NULL,
	[FLD_MAPNAME] [char](14) NOT NULL,
	[FLD_X] [int] NOT NULL,
	[FLD_Y] [int] NULL,
	[FLD_MONNAME] [char](14) NULL,
	[FLD_AREA] [smallint] NULL,
	[FLD_COUNT] [smallint] NULL,
	[FLD_GENTIME] [int] NULL,
	[FLD_SMALLGENRATE] [int] NULL,
	[FLD_DESCRIPTION] [varchar](100) NULL,
 CONSTRAINT [PK_MONGEN] PRIMARY KEY CLUSTERED 
(
	[FLD_INDEX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_MONITEM]    Script Date: 2021/1/25 12:11:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_MONITEM](
	[FLD_MONSTER] [int] NULL,
	[FLD_TYPE] [tinyint] NULL,
	[FLD_ITEM] [smallint] NULL,
	[FLD_PROBABLY] [int] NULL,
	[FLD_COUNT] [smallint] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_MONSTER]    Script Date: 2021/1/25 12:11:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_MONSTER](
	[FLD_INDEX] [int] NOT NULL,
	[FLD_NAME] [char](14) NOT NULL,
	[FLD_RACE] [smallint] NULL,
	[FLD_RACEIMG] [smallint] NULL,
	[FLD_APPR] [smallint] NULL,
	[FLD_LEVEL] [smallint] NULL,
	[FLD_UNDEAD] [smallint] NULL,
	[FLD_EXP] [smallint] NULL,
	[FLD_HP] [smallint] NULL,
	[FLD_MP] [smallint] NULL,
	[FLD_AC] [smallint] NULL,
	[FLD_MAXAC] [smallint] NULL,
	[FLD_MAC] [smallint] NULL,
	[FLD_MAXMAC] [smallint] NULL,
	[FLD_DC] [smallint] NULL,
	[FLD_MAXDC] [smallint] NULL,
	[FLD_SPEED] [smallint] NULL,
	[FLD_HIT] [smallint] NULL,
	[FLD_WALKSPEED] [smallint] NULL,
	[FLD_ATTACKSPEED] [smallint] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_MOVEMAPEVENT]    Script Date: 2021/1/25 12:11:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_MOVEMAPEVENT](
	[FLD_INDEX] [int] NOT NULL,
	[FLD_SMAPFILENAME] [char](14) NOT NULL,
	[FLD_SX] [int] NOT NULL,
	[FLD_SY] [int] NOT NULL,
	[FLD_DMAPFILENAME] [char](14) NOT NULL,
	[FLD_DX] [int] NOT NULL,
	[FLD_DY] [int] NOT NULL,
	[FLD_DESCRIPTION] [varchar](100) NULL,
 CONSTRAINT [PK_MOVEMAPEVENT] PRIMARY KEY CLUSTERED 
(
	[FLD_INDEX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_NPC]    Script Date: 2021/1/25 12:11:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_NPC](
	[FLD_INDEX] [int] NOT NULL,
	[FLD_NAME] [char](14) NOT NULL,
	[FLD_RACE] [smallint] NOT NULL,
	[FLD_MAPNAME] [char](14) NOT NULL,
	[FLD_POSX] [int] NOT NULL,
	[FLD_POSY] [int] NOT NULL,
	[FLD_FACE] [smallint] NOT NULL,
	[FLD_BODY] [smallint] NOT NULL,
	[FLD_DESCRIPTION] [varchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_SERVERINFO]    Script Date: 2021/1/25 12:11:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_SERVERINFO](
	[FLD_SERVERIDX] [int] IDENTITY(0,1) NOT NULL,
	[FLD_SERVERNAME] [nchar](40) NOT NULL,
	[FLD_SERVERIP] [nchar](20) NOT NULL,
 CONSTRAINT [PK_SERVERINFO] PRIMARY KEY CLUSTERED 
(
	[FLD_SERVERIDX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_STARTPOINT]    Script Date: 2021/1/25 12:11:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_STARTPOINT](
	[FLD_INDEX] [int] NOT NULL,
	[FLD_MAPNAME] [char](14) NOT NULL,
	[FLD_POSX] [int] NOT NULL,
	[FLD_POSY] [int] NOT NULL,
	[FLD_DESCRIPTION] [varchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_STDITEM]    Script Date: 2021/1/25 12:11:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_STDITEM](
	[FLD_INDEX] [int] NOT NULL,
	[FLD_NAME] [char](14) NOT NULL,
	[FLD_STDMODE] [smallint] NULL,
	[FLD_SHAPE] [smallint] NULL,
	[FLD_WEIGHT] [smallint] NULL,
	[FLD_ANICOUNT] [smallint] NULL,
	[FLD_SOURCE] [smallint] NULL,
	[FLD_RESERVED] [smallint] NULL,
	[FLD_LOOKS] [int] NULL,
	[FLD_DURAMAX] [int] NULL,
	[FLD_AC] [smallint] NULL,
	[FLD_AC2] [smallint] NULL,
	[FLD_MAC] [smallint] NULL,
	[FLD_MAC2] [smallint] NULL,
	[FLD_DC] [smallint] NULL,
	[FLD_DC2] [smallint] NULL,
	[FLD_MC] [smallint] NULL,
	[FLD_MC2] [smallint] NULL,
	[FLD_SC] [smallint] NULL,
	[FLD_SC2] [smallint] NULL,
	[FLD_NEED] [smallint] NULL,
	[FLD_NEEDLEVEL] [smallint] NULL,
	[FLD_PRICE] [int] NULL,
	[FLD_STOCK] [int] NULL,
	[FLD_DESCRIPTION] [varchar](100) NULL,
 CONSTRAINT [PK_MONSTER] PRIMARY KEY CLUSTERED 
(
	[FLD_INDEX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_STDITEM_ACCESSORY]    Script Date: 2021/1/25 12:11:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_STDITEM_ACCESSORY](
	[FLD_INDEX] [int] NOT NULL,
	[FLD_NAME] [varchar](20) NOT NULL,
	[FLD_STDMODE] [smallint] NULL,
	[FLD_SHAPE] [smallint] NULL,
	[FLD_WEIGHT] [smallint] NULL,
	[FLD_ANICOUNT] [smallint] NULL,
	[FLD_SOURCE] [smallint] NULL,
	[FLD_LOOKS] [int] NULL,
	[FLD_DURAMAX] [int] NULL,
	[FLD_AC] [smallint] NULL,
	[FLD_AC2] [smallint] NULL,
	[FLD_MAC] [smallint] NULL,
	[FLD_MAC2] [smallint] NULL,
	[FLD_DC] [smallint] NULL,
	[FLD_DC2] [smallint] NULL,
	[FLD_MC] [smallint] NULL,
	[FLD_MC2] [smallint] NULL,
	[FLD_SC] [smallint] NULL,
	[FLD_SC2] [smallint] NULL,
	[FLD_NEED] [smallint] NULL,
	[FLD_NEEDLEVEL] [smallint] NULL,
	[FLD_PRICE] [int] NULL,
	[FLD_STOCK] [int] NULL,
 CONSTRAINT [PK_STDITEM_ACCESSORY] PRIMARY KEY CLUSTERED 
(
	[FLD_INDEX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_STDITEM_ETC]    Script Date: 2021/1/25 12:11:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_STDITEM_ETC](
	[FLD_INDEX] [int] NOT NULL,
	[FLD_NAME] [varchar](20) NOT NULL,
	[FLD_STDMODE] [smallint] NULL,
	[FLD_SHAPE] [smallint] NULL,
	[FLD_LOOKS] [int] NULL,
	[FLD_WEIGHT] [smallint] NULL,
	[FLD_PRICE] [int] NULL,
	[FLD_VAL1] [int] NULL,
	[FLD_VAL2] [int] NULL,
 CONSTRAINT [PK_STDITEM_ETC] PRIMARY KEY CLUSTERED 
(
	[FLD_INDEX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_STDITEMARMOR]    Script Date: 2021/1/25 12:11:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_STDITEMARMOR](
	[FLD_INDEX] [int] IDENTITY(1,1) NOT NULL,
	[FLD_NAME] [varchar](20) NOT NULL,
	[FLD_STDMODE] [smallint] NULL,
	[FLD_SHAPE] [smallint] NULL,
	[FLD_WEIGHT] [smallint] NULL,
	[FLD_ANICOUNT] [smallint] NULL,
	[FLD_SOURCE] [smallint] NULL,
	[FLD_LOOKS] [int] NULL,
	[FLD_DURAMAX] [int] NULL,
	[FLD_AC] [smallint] NULL,
	[FLD_AC2] [smallint] NULL,
	[FLD_MAC] [smallint] NULL,
	[FLD_MAC2] [smallint] NULL,
	[FLD_DC] [smallint] NULL,
	[FLD_DC2] [smallint] NULL,
	[FLD_MC] [smallint] NULL,
	[FLD_MC2] [smallint] NULL,
	[FLD_SC] [smallint] NULL,
	[FLD_SC2] [smallint] NULL,
	[FLD_NEED] [smallint] NULL,
	[FLD_NEEDLEVEL] [smallint] NULL,
	[FLD_PRICE] [int] NULL,
	[FLD_STOCK] [int] NULL,
 CONSTRAINT [PK_STDITEMARMOR] PRIMARY KEY CLUSTERED 
(
	[FLD_INDEX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_STDITEMWEAPON]    Script Date: 2021/1/25 12:11:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_STDITEMWEAPON](
	[FLD_INDEX] [int] IDENTITY(1,1) NOT NULL,
	[FLD_NAME] [varchar](20) NOT NULL,
	[FLD_STDMODE] [smallint] NULL,
	[FLD_SHAPE] [smallint] NULL,
	[FLD_WEIGHT] [smallint] NULL,
	[FLD_ANICOUNT] [smallint] NULL,
	[FLD_SOURCE] [smallint] NULL,
	[FLD_LOOKS] [int] NULL,
	[FLD_DURAMAX] [int] NULL,
	[FLD_AC] [smallint] NULL,
	[FLD_AC2] [smallint] NULL,
	[FLD_MAC] [smallint] NULL,
	[FLD_MAC2] [smallint] NULL,
	[FLD_DC] [smallint] NULL,
	[FLD_DC2] [smallint] NULL,
	[FLD_MC] [smallint] NULL,
	[FLD_MC2] [smallint] NULL,
	[FLD_SC] [smallint] NULL,
	[FLD_SC2] [smallint] NULL,
	[FLD_NEED] [smallint] NULL,
	[FLD_NEEDLEVEL] [smallint] NULL,
	[FLD_PRICE] [int] NULL,
	[FLD_STOCK] [int] NULL,
 CONSTRAINT [PK_STDITEMWEAPON] PRIMARY KEY CLUSTERED 
(
	[FLD_INDEX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_USERITEM]    Script Date: 2021/1/25 12:11:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_USERITEM](
	[FLD_CHARNAME] [nchar](20) NOT NULL,
	[FLD_STDTYPE] [nchar](1) NOT NULL,
	[FLD_MAKEDATE] [nchar](6) NOT NULL,
	[FLD_MAKEINDEX] [nchar](5) NOT NULL,
	[FLD_STDINDEX] [int] NOT NULL,
	[FLD_DURA] [int] NOT NULL,
	[FLD_DURAMAX] [int] NOT NULL,
	[FLD_VALUE1] [tinyint] NOT NULL,
	[FLD_VALUE2] [tinyint] NOT NULL,
	[FLD_VALUE3] [tinyint] NOT NULL,
	[FLD_VALUE4] [tinyint] NOT NULL,
	[FLD_VALUE5] [tinyint] NOT NULL,
	[FLD_VALUE6] [tinyint] NOT NULL,
	[FLD_VALUE7] [tinyint] NOT NULL,
	[FLD_VALUE8] [tinyint] NOT NULL,
	[FLD_VALUE9] [tinyint] NOT NULL,
	[FLD_VALUE10] [tinyint] NOT NULL,
	[FLD_VALUE11] [tinyint] NOT NULL,
	[FLD_VALUE12] [tinyint] NOT NULL,
	[FLD_VALUE13] [tinyint] NOT NULL,
	[FLD_VALUE14] [tinyint] NOT NULL,
 CONSTRAINT [PK_USERITEM] PRIMARY KEY CLUSTERED 
(
	[FLD_MAKEINDEX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_ACCOUNTADD_SSNO]    Script Date: 2021/1/25 12:11:02 ******/
CREATE NONCLUSTERED INDEX [IDX_ACCOUNTADD_SSNO] ON [dbo].[TBL_ACCOUNTADD]
(
	[FLD_SSNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TBL_ACCOUNT] ADD  DEFAULT (0) FOR [FLD_CERTIFICATION]
GO
ALTER TABLE [dbo].[TBL_CHARACTER_MAGIC] ADD  DEFAULT (0) FOR [FLD_LEVEL0]
GO
ALTER TABLE [dbo].[TBL_CHARACTER_MAGIC] ADD  DEFAULT (0) FOR [FLD_USEKEY0]
GO
ALTER TABLE [dbo].[TBL_CHARACTER_MAGIC] ADD  DEFAULT (0) FOR [FLD_CURRTRAIN0]
GO
ALTER TABLE [dbo].[TBL_CHARACTER_MAGIC] ADD  DEFAULT (0) FOR [FLD_LEVEL1]
GO
ALTER TABLE [dbo].[TBL_CHARACTER_MAGIC] ADD  DEFAULT (0) FOR [FLD_USEKEY1]
GO
ALTER TABLE [dbo].[TBL_CHARACTER_MAGIC] ADD  DEFAULT (0) FOR [FLD_CURRTRAIN1]
GO
ALTER TABLE [dbo].[TBL_CHARACTER_MAGIC] ADD  DEFAULT (0) FOR [FLD_LEVEL2]
GO
ALTER TABLE [dbo].[TBL_CHARACTER_MAGIC] ADD  DEFAULT (0) FOR [FLD_USEKEY2]
GO
ALTER TABLE [dbo].[TBL_CHARACTER_MAGIC] ADD  DEFAULT (0) FOR [FLD_CURRTRAIN2]
GO
ALTER TABLE [dbo].[TBL_CHARACTER_MAGIC] ADD  DEFAULT (0) FOR [FLD_LEVEL3]
GO
ALTER TABLE [dbo].[TBL_CHARACTER_MAGIC] ADD  DEFAULT (0) FOR [FLD_USEKEY3]
GO
ALTER TABLE [dbo].[TBL_CHARACTER_MAGIC] ADD  DEFAULT (0) FOR [FLD_CURRTRAIN3]
GO
ALTER TABLE [dbo].[TBL_CHARACTER_MAGIC] ADD  DEFAULT (0) FOR [FLD_LEVEL4]
GO
ALTER TABLE [dbo].[TBL_CHARACTER_MAGIC] ADD  DEFAULT (0) FOR [FLD_USEKEY4]
GO
ALTER TABLE [dbo].[TBL_CHARACTER_MAGIC] ADD  DEFAULT (0) FOR [FLD_CURRTRAIN4]
GO
ALTER TABLE [dbo].[TBL_CHARACTER_MAGIC] ADD  DEFAULT (0) FOR [FLD_LEVEL5]
GO
ALTER TABLE [dbo].[TBL_CHARACTER_MAGIC] ADD  DEFAULT (0) FOR [FLD_USEKEY5]
GO
ALTER TABLE [dbo].[TBL_CHARACTER_MAGIC] ADD  DEFAULT (0) FOR [FLD_CURRTRAIN5]
GO
ALTER TABLE [dbo].[TBL_CHARACTER_MAGIC] ADD  DEFAULT (0) FOR [FLD_LEVEL6]
GO
ALTER TABLE [dbo].[TBL_CHARACTER_MAGIC] ADD  DEFAULT (0) FOR [FLD_USEKEY6]
GO
ALTER TABLE [dbo].[TBL_CHARACTER_MAGIC] ADD  DEFAULT (0) FOR [FLD_CURRTRAIN6]
GO
ALTER TABLE [dbo].[TBL_CHARACTER_MAGIC] ADD  DEFAULT (0) FOR [FLD_LEVEL7]
GO
ALTER TABLE [dbo].[TBL_CHARACTER_MAGIC] ADD  DEFAULT (0) FOR [FLD_USEKEY7]
GO
ALTER TABLE [dbo].[TBL_CHARACTER_MAGIC] ADD  DEFAULT (0) FOR [FLD_CURRTRAIN7]
GO
ALTER TABLE [dbo].[TBL_CHARACTER_MAGIC] ADD  DEFAULT (0) FOR [FLD_LEVEL8]
GO
ALTER TABLE [dbo].[TBL_CHARACTER_MAGIC] ADD  DEFAULT (0) FOR [FLD_USEKEY8]
GO
ALTER TABLE [dbo].[TBL_CHARACTER_MAGIC] ADD  DEFAULT (0) FOR [FLD_CURRTRAIN8]
GO
ALTER TABLE [dbo].[TBL_CHARACTER_MAGIC] ADD  DEFAULT (0) FOR [FLD_LEVEL9]
GO
ALTER TABLE [dbo].[TBL_CHARACTER_MAGIC] ADD  DEFAULT (0) FOR [FLD_USEKEY9]
GO
ALTER TABLE [dbo].[TBL_CHARACTER_MAGIC] ADD  DEFAULT (0) FOR [FLD_CURRTRAIN9]
GO
ALTER TABLE [dbo].[TBL_CHARACTER_MAGIC] ADD  DEFAULT (0) FOR [FLD_LEVEL10]
GO
ALTER TABLE [dbo].[TBL_CHARACTER_MAGIC] ADD  DEFAULT (0) FOR [FLD_USEKEY10]
GO
ALTER TABLE [dbo].[TBL_CHARACTER_MAGIC] ADD  DEFAULT (0) FOR [FLD_CURRTRAIN10]
GO
ALTER TABLE [dbo].[TBL_CHARACTER_MAGIC] ADD  DEFAULT (0) FOR [FLD_LEVEL11]
GO
ALTER TABLE [dbo].[TBL_CHARACTER_MAGIC] ADD  DEFAULT (0) FOR [FLD_USEKEY11]
GO
ALTER TABLE [dbo].[TBL_CHARACTER_MAGIC] ADD  DEFAULT (0) FOR [FLD_CURRTRAIN11]
GO
ALTER TABLE [dbo].[TBL_CHARACTER_MAGIC] ADD  DEFAULT (0) FOR [FLD_LEVEL12]
GO
ALTER TABLE [dbo].[TBL_CHARACTER_MAGIC] ADD  DEFAULT (0) FOR [FLD_USEKEY12]
GO
ALTER TABLE [dbo].[TBL_CHARACTER_MAGIC] ADD  DEFAULT (0) FOR [FLD_CURRTRAIN12]
GO
ALTER TABLE [dbo].[TBL_CHARACTER_MAGIC] ADD  DEFAULT (0) FOR [FLD_LEVEL13]
GO
ALTER TABLE [dbo].[TBL_CHARACTER_MAGIC] ADD  DEFAULT (0) FOR [FLD_USEKEY13]
GO
ALTER TABLE [dbo].[TBL_CHARACTER_MAGIC] ADD  DEFAULT (0) FOR [FLD_CURRTRAIN13]
GO
ALTER TABLE [dbo].[TBL_CHARACTER_MAGIC] ADD  DEFAULT (0) FOR [FLD_LEVEL14]
GO
ALTER TABLE [dbo].[TBL_CHARACTER_MAGIC] ADD  DEFAULT (0) FOR [FLD_USEKEY14]
GO
ALTER TABLE [dbo].[TBL_CHARACTER_MAGIC] ADD  DEFAULT (0) FOR [FLD_CURRTRAIN14]
GO
ALTER TABLE [dbo].[TBL_CHARACTER_MAGIC] ADD  DEFAULT (0) FOR [FLD_LEVEL15]
GO
ALTER TABLE [dbo].[TBL_CHARACTER_MAGIC] ADD  DEFAULT (0) FOR [FLD_USEKEY15]
GO
ALTER TABLE [dbo].[TBL_CHARACTER_MAGIC] ADD  DEFAULT (0) FOR [FLD_CURRTRAIN15]
GO
ALTER TABLE [dbo].[TBL_CHARACTER_MAGIC] ADD  DEFAULT (0) FOR [FLD_LEVEL16]
GO
ALTER TABLE [dbo].[TBL_CHARACTER_MAGIC] ADD  DEFAULT (0) FOR [FLD_USEKEY16]
GO
ALTER TABLE [dbo].[TBL_CHARACTER_MAGIC] ADD  DEFAULT (0) FOR [FLD_CURRTRAIN16]
GO
ALTER TABLE [dbo].[TBL_CHARACTER_MAGIC] ADD  DEFAULT (0) FOR [FLD_LEVEL17]
GO
ALTER TABLE [dbo].[TBL_CHARACTER_MAGIC] ADD  DEFAULT (0) FOR [FLD_USEKEY17]
GO
ALTER TABLE [dbo].[TBL_CHARACTER_MAGIC] ADD  DEFAULT (0) FOR [FLD_CURRTRAIN17]
GO
ALTER TABLE [dbo].[TBL_CHARACTER_MAGIC] ADD  DEFAULT (0) FOR [FLD_LEVEL18]
GO
ALTER TABLE [dbo].[TBL_CHARACTER_MAGIC] ADD  DEFAULT (0) FOR [FLD_USEKEY18]
GO
ALTER TABLE [dbo].[TBL_CHARACTER_MAGIC] ADD  DEFAULT (0) FOR [FLD_CURRTRAIN18]
GO
ALTER TABLE [dbo].[TBL_CHARACTER_MAGIC] ADD  DEFAULT (0) FOR [FLD_LEVEL19]
GO
ALTER TABLE [dbo].[TBL_CHARACTER_MAGIC] ADD  DEFAULT (0) FOR [FLD_USEKEY19]
GO
ALTER TABLE [dbo].[TBL_CHARACTER_MAGIC] ADD  DEFAULT (0) FOR [FLD_CURRTRAIN19]
GO
ALTER TABLE [dbo].[TBL_CHARACTER_MAGIC] ADD  DEFAULT (0) FOR [FLD_LEVEL20]
GO
ALTER TABLE [dbo].[TBL_CHARACTER_MAGIC] ADD  DEFAULT (0) FOR [FLD_USEKEY20]
GO
ALTER TABLE [dbo].[TBL_CHARACTER_MAGIC] ADD  DEFAULT (0) FOR [FLD_CURRTRAIN20]
GO
ALTER TABLE [dbo].[TBL_CHARACTER_MAGIC] ADD  DEFAULT (0) FOR [FLD_LEVEL21]
GO
ALTER TABLE [dbo].[TBL_CHARACTER_MAGIC] ADD  DEFAULT (0) FOR [FLD_USEKEY21]
GO
ALTER TABLE [dbo].[TBL_CHARACTER_MAGIC] ADD  DEFAULT (0) FOR [FLD_CURRTRAIN21]
GO
ALTER TABLE [dbo].[TBL_CHARACTER_MAGIC] ADD  DEFAULT (0) FOR [FLD_LEVEL22]
GO
ALTER TABLE [dbo].[TBL_CHARACTER_MAGIC] ADD  DEFAULT (0) FOR [FLD_USEKEY22]
GO
ALTER TABLE [dbo].[TBL_CHARACTER_MAGIC] ADD  DEFAULT (0) FOR [FLD_CURRTRAIN22]
GO
ALTER TABLE [dbo].[TBL_CHARACTER_MAGIC] ADD  DEFAULT (0) FOR [FLD_LEVEL23]
GO
ALTER TABLE [dbo].[TBL_CHARACTER_MAGIC] ADD  DEFAULT (0) FOR [FLD_USEKEY23]
GO
ALTER TABLE [dbo].[TBL_CHARACTER_MAGIC] ADD  DEFAULT (0) FOR [FLD_CURRTRAIN23]
GO
ALTER TABLE [dbo].[TBL_CHARACTER_MAGIC] ADD  DEFAULT (0) FOR [FLD_LEVEL24]
GO
ALTER TABLE [dbo].[TBL_CHARACTER_MAGIC] ADD  DEFAULT (0) FOR [FLD_USEKEY24]
GO
ALTER TABLE [dbo].[TBL_CHARACTER_MAGIC] ADD  DEFAULT (0) FOR [FLD_CURRTRAIN24]
GO
ALTER TABLE [dbo].[TBL_CHARACTER_MAGIC] ADD  DEFAULT (0) FOR [FLD_LEVEL25]
GO
ALTER TABLE [dbo].[TBL_CHARACTER_MAGIC] ADD  DEFAULT (0) FOR [FLD_USEKEY25]
GO
ALTER TABLE [dbo].[TBL_CHARACTER_MAGIC] ADD  DEFAULT (0) FOR [FLD_CURRTRAIN25]
GO
ALTER TABLE [dbo].[TBL_CHARACTER_MAGIC] ADD  DEFAULT (0) FOR [FLD_LEVEL26]
GO
ALTER TABLE [dbo].[TBL_CHARACTER_MAGIC] ADD  DEFAULT (0) FOR [FLD_USEKEY26]
GO
ALTER TABLE [dbo].[TBL_CHARACTER_MAGIC] ADD  DEFAULT (0) FOR [FLD_CURRTRAIN26]
GO
ALTER TABLE [dbo].[TBL_CHARACTER_MAGIC] ADD  DEFAULT (0) FOR [FLD_LEVEL27]
GO
ALTER TABLE [dbo].[TBL_CHARACTER_MAGIC] ADD  DEFAULT (0) FOR [FLD_USEKEY27]
GO
ALTER TABLE [dbo].[TBL_CHARACTER_MAGIC] ADD  DEFAULT (0) FOR [FLD_CURRTRAIN27]
GO
ALTER TABLE [dbo].[TBL_CHARACTER_MAGIC] ADD  DEFAULT (0) FOR [FLD_LEVEL28]
GO
ALTER TABLE [dbo].[TBL_CHARACTER_MAGIC] ADD  DEFAULT (0) FOR [FLD_USEKEY28]
GO
ALTER TABLE [dbo].[TBL_CHARACTER_MAGIC] ADD  DEFAULT (0) FOR [FLD_CURRTRAIN28]
GO
ALTER TABLE [dbo].[TBL_CHARACTER_MAGIC] ADD  DEFAULT (0) FOR [FLD_LEVEL29]
GO
ALTER TABLE [dbo].[TBL_CHARACTER_MAGIC] ADD  DEFAULT (0) FOR [FLD_USEKEY29]
GO
ALTER TABLE [dbo].[TBL_CHARACTER_MAGIC] ADD  DEFAULT (0) FOR [FLD_CURRTRAIN29]
GO
ALTER TABLE [dbo].[TBL_CHARACTER_MAGIC] ADD  DEFAULT (0) FOR [FLD_LEVEL30]
GO
ALTER TABLE [dbo].[TBL_CHARACTER_MAGIC] ADD  DEFAULT (0) FOR [FLD_USEKEY30]
GO
ALTER TABLE [dbo].[TBL_CHARACTER_MAGIC] ADD  DEFAULT (0) FOR [FLD_CURRTRAIN30]
GO
USE [master]
GO
